@import "tailwindcss";

@theme {
  --color-base-00: var(--base00);
  --color-base-01: var(--base01);
  --color-base-02: var(--base02);
  --color-base-03: var(--base03);
  --color-base-04: var(--base04);
  --color-base-05: var(--base05);
  --color-base-06: var(--base06);
  --color-base-07: var(--base07);
  --color-base-08: var(--base08);
  --color-base-09: var(--base09);
  --color-base-0A: var(--base0A);
  --color-base-0B: var(--base0B);
  --color-base-0C: var(--base0C);
  --color-base-0D: var(--base0D);
  --color-base-0E: var(--base0E);
  --color-base-0F: var(--base0F);
}

:root {
  --base00: #f8f9fa;
  --base01: #e9ecef;
  --base02: #dee2e6;
  --base03: #ced4da;
  --base04: #adb5bd;
  --base05: #212529;
  --base06: #343a40;
  --base07: #495057;
  --base08: #dc3545;
  --base09: #fd7e14;
  --base0A: #ffc107;
  --base0B: #28a745;
  --base0C: #17a2b8;
  --base0D: #007bff;
  --base0E: #6f42c1;
  --base0F: #e83e8c;
}

.dark {
  --base00: #131327;
  --base01: #191935;
  --base02: #25254b;
  --base03: #2d2b55;
  --base04: #494685;
  --base05: #e1efff;
  --base06: #e5e4fb;
  --base07: #fad000;
  --base08: #ff628c;
  --base09: #ffb454;
  --base0A: #ffee80;
  --base0B: #a5ff90;
  --base0C: #80fcff;
  --base0D: #fad000;
  --base0E: #faefa5;
  --base0F: #fb94ff;
}

.outline-auto {
  outline: auto;
}

.text-shadow * {
  text-shadow: 0 1px 1px var(--base02);
}

.flip-x {
  transform: scaleX(-1);
}

::selection {
  @apply bg-base-0D text-base-05;
}

::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
